/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.05.2019, 2:15:01
    Author     : user
*/


body, section {
		background: #FDF5E6;
		font-family: Georgia, 'Times New Roman', Times, serif
	}
	header{
		widht: 100%
	}
	.child{
		height: 10px;
		display: inline-block;
		width: 69%;
	}
	.child1{
		height: 10px;
		display: inline-block;
		width: 30%;
	}
	.sel{
		background-clip:padding-box;
		border-width:10px
	}
	.col{
		background-color:#4169E1;
		border-color:#4169E1;
	}
	a{
		color:white;
	}
	a:visited{
		color:gray;
	}
	a:active{
		color:black;
	}
	* {
		margin: 0;
		padding: 0;
	}
	html,
	body,
        section,
	.wrapper {
		height: 100%;
	}
	.content {
		box-sizing: border-box;
		min-height: 100%;
		padding-bottom: 90px;
	}
	.footer {
		height: 80px;
		margin-top: -80px;
	}